<main>
  <section class="form-section">
    <img src="/assets/img/logo.svg" style="width: 200px;"/>
    <h2>{{ title }}</h2>

    <ng-content></ng-content>


    <div class="btn-wrapper">
      <button class="btn-primary" (click)="submit()" [disabled]="disablePrimaryBtn">{{primaryBtnText}}</button>
      <div class="divider">
        <div></div>
        <span>or</span>
        <div></div>
      </div>
    <button class="btn-secondary" (click)="navigate()">{{secondaryBtnText}}</button>
    </div>

  </section>
  <section class="main-section">
    <h2>BandBridge</h2>
    <img src="/assets/img/logo.svg" style="width: 500px;"/>
    <h2>Discover your new favorite band!</h2>
    <img src="/assets/img/logo-color-yellow.png" class="logo-img"/>
  </section>
</main>
